.iconButton {
    border: none;
    outline: none;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
    margin: 0px 5px;
}

button:not(.iconButton) {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border: 1px solid #e5e5e5;
}

button:not(.iconButton):hover {
    background-color: #fff;
    color: #222;
    border-color: #b2b2b2;
}

button:focus {
    outline: none;
}

.btnPrimary:not(.iconButton) {
    background-color: #1e87f0;
    color: #fff;
    border: 1px solid transparent;
}

.btnPrimary:not(.iconButton):hover {
    background-color: #0f7ae5;
    color: #fff;
    border-color: transparent;
}

button:focus-visible {
    outline: 2px dotted #333;
}

input[type="text"] {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    background-color: #fff;
    color: #666;
    border-color: #1e87f0;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
}